<div id="gitment_thread"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css" />
<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
<script>
  // var gitment = new Gitment({
  //   id: '{{ page.id }}',
  //   owner: '{{ site.gitment.username }}',
  //   admin: ['{{ site.gitment.username }}'],
  //   repo: '{{ site.gitment.repo }}',
  //   clientID: '{{ site.gitment.client_id }}',
  //   clientSecret: '{{ site.gitment.client_secret }}'
  // });
  var gitment = new Gitalk({
    clientID: 'd1b3c8e5e91f56591c49',
    clientSecret: '2d32bc5849ea9a8f5efa81415e70a2f22219ff51',
    repo: 'blogcomment',
    owner: 'mayunmeiyouming',
    admin: ['mayunmeiyouming'],
    id: '{{ page.id }}',
    distractionFreeMode: false
  });
  gitment.render('gitment_thread')
</script>